html, body  
	{background: #cee7f4; 
	 text-align: left; 
	 font-size: 1em; 
	 font-family: calibri;
	}
	

h1
{color: #808080
}

@media only screen and (max-width: 680px)
{
body  { background-color: #62b1dd; }

.tekst {color: #800000}
}
